* {
    margin: 0;
    padding: 0;
}

.fundo {
    /* background: rgb(36,0,0);
    background: linear-gradient(90deg, rgba(36,0,0,1) 0%, rgba(121,9,9,1) 18%, rgba(255,0,56,1) 100%); */
    background-image: linear-gradient(to bottom, #a84545, #b92f57, #c30974, #bf009c, #a51ccb);
    height: 100vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.calculator {
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
}

.btn-green {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    border: none;
    color: white;
    background-color: #556B2F;
}

.botao:hover {
    background-color: black;
}

#resultado {
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
}

